In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../Data/Books.csv')

In [3]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

# EDA

In [4]:
df.shape

(271360, 8)

In [5]:
df.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271358,271360,271358,271360,271360,271357
unique,271360,242135,102022,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
df.duplicated().sum()

0

# Data cleaning

In [9]:
df.dropna(inplace=True)

In [10]:
df = df.drop_duplicates()

In [11]:
df.shape

(271353, 8)

In [12]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [13]:
refine_df = df[['Book-Title', 'Book-Author', 'Publisher']]

In [14]:
refine_df

,Book-Title,Book-Author,Publisher
0,Classical Mythology,Mark P. O. Morford,Oxford University Press
1,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada
2,Decision in Normandy,Carlo D'Este,HarperPerennial
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux
4,The Mummies of Urumchi,E. J. W. Barber,W. W. Norton &amp; Company
...,...,...,...
271355,There's a Bat in Bunk Five,Paula Danziger,Random House Childrens Pub (Mm)
271356,From One to One Hundred,Teri Sloat,Dutton Books
271357,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,HarperSanFrancisco
271358,Republic (World's Classics),Plato,Oxford University Press
271359,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,McGraw-Hill Humanities/Social Sciences/Languages

In [15]:
refine_df.isnull().sum()

Book-Title     0
Book-Author    0
Publisher      0
dtype: int64

In [16]:
refine_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271353 entries, 0 to 271359
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Book-Title   271353 non-null  object
 1   Book-Author  271353 non-null  object
 2   Publisher    271353 non-null  object
dtypes: object(3)
memory usage: 8.3+ MB

In [17]:
refine_df.columns

Index(['Book-Title', 'Book-Author', 'Publisher'], dtype='object')

# Data preprocessing

In [18]:
# All object column remove spaces
columns = ['Book-Author', 'Publisher']
for col in columns:
    refine_df[col] = refine_df[col].astype(str).str.replace(" ", "")

In [19]:
refine_df

,Book-Title,Book-Author,Publisher
0,Classical Mythology,MarkP.O.Morford,OxfordUniversityPress
1,Clara Callan,RichardBruceWright,HarperFlamingoCanada
2,Decision in Normandy,CarloD'Este,HarperPerennial
3,Flu: The Story of the Great Influenza Pandemic...,GinaBariKolata,FarrarStrausGiroux
4,The Mummies of Urumchi,E.J.W.Barber,W.W.Norton&amp;Company
...,...,...,...
271355,There's a Bat in Bunk Five,PaulaDanziger,RandomHouseChildrensPub(Mm)
271356,From One to One Hundred,TeriSloat,DuttonBooks
271357,Lily Dale : The True Story of the Town that Ta...,ChristineWicker,HarperSanFrancisco
271358,Republic (World's Classics),Plato,OxfordUniversityPress
271359,A Guided Tour of Rene Descartes' Meditations o...,ChristopherBiffle,McGraw-HillHumanities/SocialSciences/Languages

In [20]:
refine_df['book_summary'] = refine_df['Book-Author'].str.strip() + " " + refine_df['Publisher'].str.strip()

In [21]:
refine_df['book_summary']

0                     MarkP.O.Morford OxfordUniversityPress
1                   RichardBruceWright HarperFlamingoCanada
2                               CarloD'Este HarperPerennial
3                         GinaBariKolata FarrarStrausGiroux
4                       E.J.W.Barber W.W.Norton&amp;Company
                                ...
271355            PaulaDanziger RandomHouseChildrensPub(Mm)
271356                                TeriSloat DuttonBooks
271357                   ChristineWicker HarperSanFrancisco
271358                          Plato OxfordUniversityPress
271359    ChristopherBiffle McGraw-HillHumanities/Social...
Name: book_summary, Length: 271353, dtype: object

In [22]:
refine_df

,Book-Title,Book-Author,Publisher,book_summary
0,Classical Mythology,MarkP.O.Morford,OxfordUniversityPress,MarkP.O.Morford OxfordUniversityPress
1,Clara Callan,RichardBruceWright,HarperFlamingoCanada,RichardBruceWright HarperFlamingoCanada
2,Decision in Normandy,CarloD'Este,HarperPerennial,CarloD'Este HarperPerennial
3,Flu: The Story of the Great Influenza Pandemic...,GinaBariKolata,FarrarStrausGiroux,GinaBariKolata FarrarStrausGiroux
4,The Mummies of Urumchi,E.J.W.Barber,W.W.Norton&amp;Company,E.J.W.Barber W.W.Norton&amp;Company
...,...,...,...,...
271355,There's a Bat in Bunk Five,PaulaDanziger,RandomHouseChildrensPub(Mm),PaulaDanziger RandomHouseChildrensPub(Mm)
271356,From One to One Hundred,TeriSloat,DuttonBooks,TeriSloat DuttonBooks
271357,Lily Dale : The True Story of the Town that Ta...,ChristineWicker,HarperSanFrancisco,ChristineWicker HarperSanFrancisco
271358,Republic (World's Classics),Plato,OxfordUniversityPress,Plato OxfordUniversityPress
271359,A Guided Tour of Rene Descartes' Meditations o...,ChristopherBiffle,McGraw-HillHumanities/SocialSciences/Languages,ChristopherBiffle McGraw-HillHumanities/Social...

In [23]:
final_df = refine_df[['Book-Title', 'book_summary']]

# Convert into vector

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
vector = tfidf.fit_transform(final_df['book_summary'])

In [25]:
def recommend(book_name):
    try:
        book_index = final_df[final_df['Book-Title'] == book_name].index[0]

        similarities = linear_kernel(vector[book_index], vector).flatten()

        similar_books = similarities.argsort()[-6:-1][::-1]

        print(f"Top 5 recommendations for: {book_name}\n")
        for x in similar_books:
            print(final_df.iloc[x]['Book-Title'])

    except IndexError:
        print("Book is not present in dataset")

In [26]:
recommend("There's a Bat in Bunk Five")

Top 5 recommendations for: There's a Bat in Bunk Five

There's a Bat in Bunk Five
Summer of My German Soldier (Law at Work)
Memories of Summer
A Wrinkle in Time
Whalesinger (Laurel-Leaf Contemporary Fiction)

In [27]:
import joblib
joblib.dump(tfidf,'tfidf.pkl')
joblib.dump(vector,'vector.pkl')

['vector.pkl']

In [28]:
final_df.to_csv('Final_data.csv', index = False)